@media all and (min-width: 1025px) {

  /*  NAVBAR CONFIG  */
  .item {
    display: block;
    width: auto;
  }

  .tg {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }

  /*  END NAVBAR CONFIG  */

  .weather-container h4 span {
    font-size: 1.5rem;
  }

  #current-temp,
  #current-feel,
  #current-press,
  #weather-hr,
  #weather-desc {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  #weather-icon {
    width: 70px;
  }

  .containerAPI {
    width: auto;
    flex: none;
  }
}