@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url("https://use.typekit.net/nzx7orx.css");


html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1280px;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
}

:root {
  --bg-color-body: whitesmoke;
  --bg-color-navbar: #343234e9;
  --br-color-a: whitesmoke;
  --br-color-button-a: #343234e9;
  --font-color-text: #343234;
  --font-color-navbar: whitesmoke;
  --font-color-navbar-underline-home: red;
  --font-color-navbar-underline-rent: yellow;
  --font-color-navbar-underline-rese: pink;
  --font-color-navbar-underline-cont: orange;
  --font-color-navbar-underline-logo: lightblue;

  --h1--header-font-size: 2.2rem;
  --h2--header-font-size: 1.9rem;
  --h3--header-font-size: 1.5rem;
  --h4--header-font-size: 1rem;
  --h5--header-font-size: 0.7rem;

  --font-logo-h1: "chantal", sans-serif;
  --font-text-h2-h3-navbar: "pf-reminder", sans-serif;
  --font-text-para: "Roboto", sans-serif;
}

/*  GLOBAL ELEMENTS SETTINGS*/
body {
  position: relative;
  font-family: var(--font-text-para);
  font-weight: 300;
  color: var(--font-color-text);
  background: var(--bg-color-body);
}

h1 {
  margin: 50px 2vw;
  text-align: center;
  font-family: var(--font-logo-h1);
  font-size: var(--h1--header-font-size);
}

h2,
h3,
h4 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: var(--font-text-h2-h3-navbar);
  font-weight: bold;
}

h2 {
  font-size: var(--h2--header-font-size);
}

h3 {
  font-size: var(--h3--header-font-size);
}

h4 {
  font-size: var(--h4--header-font-size);

}

.hr-line {
  margin-top: -6px;
}

section {
  margin: 50px 2vw;
}

p {
  margin: 5px 0;
}

/*  NAV BAR CONFIG  */

nav {
  padding: 5px 20px;
  font-family: var(--font-text-h2-h3-navbar);
  background: var(--bg-color-navbar);
}

ul {
  list-style-type: none;
}

a {
  color: var(--font-color-navbar);
  text-decoration: none;
}

a.blue:hover {
  text-decoration: underline var(--font-color-navbar-underline-logo);
  text-decoration-thickness: 5px;
}

a.red:hover {
  text-decoration: underline var(--font-color-navbar-underline-home);
  text-decoration-thickness: 5px;
}

a.yellow:hover {
  text-decoration: underline var(--font-color-navbar-underline-rent);
  text-decoration-thickness: 5px;
}

a.pink:hover {
  text-decoration: underline var(--font-color-navbar-underline-rese);
  text-decoration-thickness: 5px;
}

a.orange:hover {
  text-decoration: underline var(--font-color-navbar-underline-cont);
  text-decoration-thickness: 5px;
}

.link.active {
  padding: 7.5px 5px;
  background: rgb(82, 92, 91);
}

.logo img {
  width: 100px;
  height: auto;
}

.logo a {
  font-family: var(--font-logo-h1);
  font-size: 30px;
}

.menu li {
  margin: 0;
  padding: 15px 5px;
  white-space: nowrap;
}

.button.signin {
  border-bottom: 1px solid gray;
}

.button.signin:hover,
.button.login:hover {
  text-decoration: underline green;
  text-decoration-thickness: 5px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tg {
  order: 1;
}

.item.button {
  order: 2;
}

/**HAMBURGER CONFIG**/
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.open {
  display: block;
  width: 100%;
}

.item.open a {
  display: block;
}

.toggle::before {
  content: '☰';
}

.toggle.open::before {
  content: '✖';
}

.toggle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  width: 30px;
  height: 30px;
}

/* END NAVBAR CONFIG  */

/* MAIN HERO IMG CONFIG  */
.hero.container {
  position: relative;
  width: 100%;
  height: auto;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--br-color-a);
  border-radius: 8px;
  background: var(--br-color-button-a);
}

.hero a:hover {
  color: #343234;
  background: var(--bg-color-body);
}

.hero img.logo {
  display: none;
}

/*  Section CARD & RENTAL FACILITIES*/
.title,
.subtitle.slogan {
  text-align: center;
}

.hashtag {
  font-weight: bold;
}

.facilities {
  margin-top: 20px;
}

.card.information h3 {
  padding: 5px 0;
  background: var(--font-color-navbar-underline-cont);
}

.card.el-centro h3,
.card.puerta-maya h3 {
  padding: 5px 0;
  background: var(--font-color-navbar-underline-logo);
}

.rental img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 5px solid var(--font-color-navbar-underline-logo);
  border-radius: 45px;
}

.rental {
  text-align: left;
}

.italic {
  font-style: italic;
}

/* WEATHER STICKY*/

.weather-container h4 {
  margin: 5px;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  margin: 0 auto;
  border: 1px inset;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(180deg, rgb(199, 224, 245), rgb(248, 232, 201));
}

.weather-container h4 {
  align-items: center;
}

#weatherAPI {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#current-temp,
#current-feel,
#current-press,
#weather-hr,
#weather-desc {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

#weather-desc {
  padding: 0;
  margin-left: 0;
  margin-right: 25%;
}

#weather-icon {
  width: 70px;
  margin-left: 25%;
  margin-right: 0;
}

.forecastAPI {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1px;
  font-size: 10px;
}

.tfforecast {
  border-collapse: collapse;
  width: auto;
}


.tfforecast th,
.tfforecast td {
  text-shadow: 0px 0px 8px rgb(64, 87, 218);
}

#weatherAPI {
  text-shadow: 2px 8px 6px rgba(62, 116, 138, 0.8), 0px -5px 35px rgba(255, 255, 255, 0.651);
  text-align: center;
}

.tfforecast td img {
  padding-left: 5px;
  width: 45px;
  height: auto;
}

.tfforecast th span,
.tfforecast td span {
  font-size: 15px;
}