@media only screen and (min-width: 580px) {

  /*  NAVBAR CONFIG  */

  h2, h3 {
    margin-top: 0;
  }
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .logo a img {
    display: none;
  }

  .logo a::before {
    content: "SCOOTS";
  }

  .tg {
    flex: 1;
    text-align: right;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.signin {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    font-weight: bold;
    color: #343234;
    border: 1px whitesmoke solid;
    background: #dfc681;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button.signin:hover,
  .button.login:hover {
    text-decoration: none;
    text-decoration-thickness: none;
  }

  .button.login a:hover,
  .button.signin a:hover {
    color: var(--bg-color-body);
    background: var(--font-color-text);
  }

  /*  END NAVBAR CONFIG  */

  /*  HERO BUTTON  */
  .hero a:hover {
    color: var(--font-color-text);
    animation: mylastmove 0.5s;
    animation-fill-mode: both;
  }

  @keyframes mylastmove {
    from {
      background: var(--bg-color-body);
    }

    to {
      background: whitesmoke;
    }
  }

  .hero a {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero img.logo {
    display: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    transform: translate(-50%, -50%);
  }

  /* end hero button*/

  .rental {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .card.el-centro {
    text-align: left;
  }

  .card.puerta-maya {
    text-align: right;
  }

  .card.puerta-maya {
    order: 1;
  }

  .card.puerta-maya h3 {
    text-align: right;
  }

  .facilities img {
    width: 480px;
    height: auto;
  }

  .rental img:hover {
    opacity: 0.4;
  }
}