@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;900&display=swap');

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    --heading-font: Helvetica, sans-serif, 'Source Sans Pro';
    --paragraph-font: 'Source Sans Pro', Helvetica, sans-serif;

    --headline-color-on-white: #08689b;
    --bgr-body-color: #F5F5F5;
    --bgr-header-color: #1D3559;
    --bgr-main-color: #1D3559;
    --bgr-navBar-footer: #08689B;
    --navBar-link-color: #F5F5F5;
    --navBar-hover-color: #79D509;

    --paragraph-background-color: #1D3559;
    --paragraph-color-on-white: #1D3559;
    --paragraph-color-on-color: #F5F5F5;

    --bg-color-input-valid: #b2f5c8;
    --bg-color-input-invalid: #f1bfbf;
    --bar-color-input-range: rgb(199, 199, 199);
}

body {
    margin: 0 auto;
    font-family: var(--heading-font);
    font-size: 15px;
    background: var(--bgr-body-color);
}

header {
    padding: 20px 20px;
    margin: 0;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    background: var(--bgr-header-color);
}

.chamber-logo img {
    width: 100%;
}

.social-icon img {
    padding: 0 0 5px 5px;
    width: 50px;
}

.current-dateTime {
    text-align: justify;
    font-size: 1rem;
    color: var(--paragraph-color-on-color);
}

#mode {
    font-size: 1rem;
    padding-top: 5px;
    cursor: pointer;
    color: var(--paragraph-color-on-color);

}

.navbar {
    display: flex;
    font-size: 1.5rem;
    background: var(--bgr-navBar-footer);
}

.navbar a {
    display: block;
    justify-content: center;
    padding: 1rem 2vw;
    text-align: center;
    text-decoration: none;
}

.navbar {
    display: none;
}

.navbar.open {
    display: block;
    width: 100%;
}

.navbar.open a {
    display: block;
}

a {
    color: var(--paragraph-color-on-color);
    text-decoration: none;
}

nav a.nav-link {
    padding: 20px;
}

nav a.nav-link:hover {
    color: var(--bgr-main-color);
    background-color: var(--navBar-hover-color);
}

#menu {
    position: relative;
    font-size: 1.5rem;
    left: 0;
    top: 10px;
    border: none;
    background-color: transparent;
    color: var(--paragraph-color-on-color);
}

#menu::before {
    content: '☰';
}

#menu.open::before {
    content: '✖';
}

.box {
    padding: 5px;
    width: auto;
    height: 60px;
    background-color: var(--bgr-navBar-footer);
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

main {
    max-width: 1280px;
    margin: 30px auto 10px;
    padding: 5px;
    font-family: var(--paragraph-font);
}

.container,
.discovery-main {
    display: block;
}

.hero-image {
    position: relative;
}

.hero-image,
.spotlight-1,
.spotlight-2,
.spotlight-3,
.events,
.weather-info {
    margin-bottom: 20px;
    width: 100%;
    height: 260px;
    text-align: center;
    border: 2px solid var(--headline-color-on-white);
    box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #454546;
}

.spotlight-1 p,
.spotlight-2 p,
.spotlight-3 p {
    margin-top: 175px;
    font-size: 1rem;
    font-weight: 510;
    color: var(--paragraph-color-on-white);
}

.spotlight-1 a,
.spotlight-2 a,
.spotlight-3 a {
    font-size: 1.2rem;
    color: rgb(19, 43, 179);
}

.spotlight-1 a:hover,
.spotlight-2 a:hover,
.spotlight-3 a:hover {
    color: red;
}

.spotlight-1 {
    border: 2px solid #f1c40f;
    background-image: url(/chamber/images/spot-caribbean.webp);
}

.spotlight-2 {
    border: 2px solid #f1c40f;
    background-image: url(/chamber/images/spot-give.webp);
}

.spotlight-3 {    
    border: 2px solid #f1c40f;
    background-image: url(/chamber/images/spot-valentine.webp);
}

.title-msg {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    padding: 5vh 2vw;
    border: 1px solid #1d3559;
    color: var(--paragraph-color-on-color);
    background: var(--bgr-main-color);
    background: linear-gradient(180deg, rgb(29, 53, 89) 0%, rgb(86, 145, 200) 60%, rgb(121, 213, 9, .5) 90%);
}

.title-msg p {
    margin: 0 auto;
    padding-left: 2vw;
    font-size: 1.5rem;
    font-variant: small-caps;
    text-align: center;
}

.welcome-msg {
    font-size: 1.3rem;
}

.stats {
    position: absolute;
    padding: 1rem 2.5rem;
    right: 25px;
    cursor: pointer;
    bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(121, 213, 9);
    background-color: var(--bgr-main-color);
}

.stats p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: var(--paragraph-color-on-color);
}

.stats:hover {
    color: var(--bgr-body-color);
    background: var(--bgr-navBar-footer);
}

.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* WEATHER API */

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--paragraph-color-on-color);
    background: var(--bgr-navBar-footer);
    background: linear-gradient(180deg, rgb(8, 104, 155, 0.7), rgba(28, 126, 115, 0.979) 100%);
    box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #454546;
}

#weatherAPI,
.forecastAPI {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1px;
    font-size: 15px;
}

#weatherAPI {
    margin-top: 10px;
    font-size: 18px;
}

h4 {
    margin: 10px;
}

#weather-icon,
#forecast-icon {
    box-shadow: none;
}

.tfforecast {
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
}

.tfforecast th,
.tfforecast td {
    text-align: center;
}

.tfforecast td img {
    padding-left: 5px;
    width: 45px;
    height: auto;
    text-align: left;
}

/* end WEATHER API */

footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-family: var(--heading-font);
    background-color: var(--bgr-navBar-footer);
}

footer img {
    margin-top: 30px;
    width: 150px;
}

footer h3 {
    margin-top: 30px;
    padding-left: 2vw;
    color: var(--paragraph-color-on-color);
    text-decoration: #F5F5F5 underline;

}

footer p {
    padding-left: 10px;
    font-family: var(--paragraph-font);

}

p.lion {
    margin-top: 5px;
    font-size: 2rem;
    font-weight: normal;
    color: var(--paragraph-color-on-color);
}

p.chamber {
    margin-top: -30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-variant: small-caps;
    color: var(--paragraph-color-on-color);

}

.contact p,
.visit-us p {
    text-align: start;
    color: var(--paragraph-color-on-color);
}

.contact,
.visit-us {
    text-align: start;
}

.mapouter iframe {
    margin-top: 30px;
    position: relative;
    border: none;
    width: 100%;
    height: 450px;
}

.gmap_canvas {
    overflow: hidden;
    width: auto;
    height: 450px;
}

.gmap_canvas iframe {
    border: none;
    position: relative;
    z-index: 2
}

hr {
    display: none;
}

.information p {
    margin: 50px 0;
}

.copyright,
.location,
.date {
    text-align: start;
    color: var(--paragraph-color-on-color);
}

.date {
    padding-bottom: 30px;
}

#lastModified {
    color: var(--paragraph-color-on-color);
}

.hero-image {
    width: 100%;
    height: auto;
    line-height: 0.5;
}

.hero-image img {
    width: 100%;
    height: auto;
}

/* discovery page*/
.page-visitor {
    display: none;
}

.welcome h1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--bgr-main-color);
}

.welcome p {
    padding: 10px;
    text-align: justify;
}

.welcome p {
    padding: 30px;
    margin-bottom: 50px;
}

.welcome h2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #F5F5F5;
    background: #08689B;
}

.sideBar p {
    text-align: left;
    padding: 10px;
}

.title {
    font-weight: bold;
    color: var(--paragraph-color-on-color);
    background: var(--paragraph-color-on-white);
}

.more-info {
    margin-top: 10px;
    padding: 15px;
    font-weight: bold;
    text-align: right;
}

.more-info a {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #1D3559;
    color: var(--paragraph-color-on-color);
    background: var(--bgr-navBar-footer);
}

.sideBar-content1,
.sideBar-content2,
.sideBar-content3,
.sideBar-content4 {
    height: auto;
    border-bottom: 1px solid black;
}

.sideBar-content1 ul,
.sideBar-content2 ul {
    margin: 0;
    padding-left: 10px;
    list-style-type: none;
}

.gallery {
    text-align: center;
}

figure {
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.figure-gallery img {
    max-width: 100%;
    height: 300px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #454546;
}

.figcap-gallery {
    font-style: italic;
    margin-top: 5px;
}

.gallery h2 {
    margin: 50px;
    font-size: 2rem;
    text-align: center;
}

.gallery h2:hover {
    color: #F5F5F5;
    background: #08689B;
}

.tftable {
    font-size: 15px;
    width: 100%;
    border-width: 1px;
    border-collapse: collapse;
    border-color: #9dcc7a;
    color: #192001;
}

.tftable ul {
    list-style-type: none;
}

.tftable th {
    padding: 8px;
    font-size: 15px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #9dcc7a;
    background-color: #abd28e;
}

.tftable tr {
    background-color: #bedda7;
}

.tftable td {
    padding: 8px;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #9dcc7a;
}

.tftable td img {
    width: 16px;
    height: auto;
}

/* JOIN PAGE*/
#why-join-us {
    font-size: 2.5rem;
    margin: 10px 0 20px;
    text-align: center;
    font-weight: bold;
    color: var(--headline-color-on-white);
    text-shadow: 2px 2px 10px var(--bgr-navBar-footer);
}

.welcome-text,
.join-us,
.strategic-partner,
.next-step,
.community {
    margin: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
}

.chamber-name {
    font-weight: bold;
    color: var(--bgr-navBar-footer);
}

.strong {
    font-weight: bold;
    color: var(--bgr-navBar-footer);
}

.join-us ul {
    padding-left: 20px;
}

.join-us li {
    margin-bottom: 10px;
}

.next-step,
.community {
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--bgr-navBar-footer);
}

.membership-card {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
}

.membership-card h3 {
    font-size: 1.1rem;
}

.np-membership {

    border: 2px solid #3498db;
}

.np-membership h3 {
    padding: 30px;
    background: #3498db;
}

.bronze-membership {
    border: 2px solid #e67e22;
}

.bronze-membership h3 {
    padding: 30px;
    background: #e67e22;
}

.silver-membership {
    border: 2px solid #95a5a6;
}

.silver-membership h3 {
    padding: 30px;
    background: #95a5a6;
}

.gold-membership {
    border: 2px solid #f1c40f;
}

.gold-membership h3 {
    padding: 30px;
    background: #f1c40f;
}

.membership-card ul {
    list-style-type: none;
    padding: 0;
}

.membership-card ul li {
    margin-bottom: 10px;
}

.membership-card .price {
    margin-top: 15px;
    font-size: 18px;
    color: var(--bgr-navBar-footer);
    font-weight: bold;
}

.form-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    border-style: groove;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding-top: 10px;
    width: 330px;
}

.form-cont h2 {
    font-size: 16px;
}

.form-cont h3 {
    font-size: 15px;
}

.form-cont label {
    margin-bottom: 8px;
    align-self: flex-start;
    font-weight: bold;
    font-family: var(--heading-font);
}

.form-cont input,
textarea {
    margin-bottom: 16px;
    padding: 8px;
    width: 330px;
    border: 4px;
    border-radius: 4px;
    font-family: var(--heading-font);
}

.form-cont button {
    margin-top: 20px;
    width: calc(100% - 20px);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: var(--paragraph-color-on-color);
    background: var(--bgr-main-color);
}

.form img {
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

button:hover {
    color: var(--paragraph-color-on-color);
    background: var(--bgr-navBar-footer);
}

div.level-benefits {
    display: none;
}

input:focus {
    border: 1px solid var(--navBar-hover-color);
}

input:required,
textarea {
    border: 1px solid var(--bgr-main-color);
    border-left: 3px solid var(--bgr-main-color);
    border-right: 3px solid var(--bgr-main-color);

}

input:valid {
    background: var(--bg-color-input-valid);
}

#error-message {
    margin: -10px 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: red;
}

/*  DIRECTORY PAGE */
.menu {
    margin: 0 50px 20px;
    padding: 20px;
    text-align: center;
    background: var(--bgr-main-color);
}

.menu button {
    padding: 0.7rem;
    font-weight: 700;
}

.grid section {
    padding: 5px;
    text-align: justify;
    border: 2px solid var(--bgr-header-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #454546;
}

.events section {
    padding: 5px;
    text-align: justify;
}

.grid,
.events {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
}

.events {
    background-image: url(images/bg-events.webp);
}

.grid section,
.events section {
    margin-top: 20px;
    text-align: center;
}

.grid img {
    border: 1px solid #1D3559;
    box-shadow: 0 0 10px #333;
}

.grid section>*,
.events section>* {
    margin: 10px;
}

.grid h2,
.list h2,
.events h2 {
    font-stretch: condensed;
    font-size: 20px;
    font-family: var(--heading-font);
}

.grid h3,
.list h3,
.events h3 {
    font-variant: small-caps;
    font-size: 15px;
    font-family: var(--heading-font);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 30px;
}

.list section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    width: 70%;
    gap: 10px;
    padding: 5px;
    border: 2px solid var(--bgr-header-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #f5f5f5, 0 6px 10px 0 #454546;
}


.list section img {
    display: none;
}

.list section>* {
    margin: 2px;
}

/* .list section:nth-child(even) {
    background-color: var(--bgr-body-color);
}

.list section:nth-child(odd) {
    background-color: var(--bgr-body-color);
} */

section p {
    font-variant: small-caps;
    font-size: 18px;
}

section a {
    font-size: 1.1rem;
    letter-spacing: 1.1pt;
    color: rgb(8, 8, 226);
}

section a:hover {
    color: rgb(255, 72, 0);
}

/*-----------------banner config-----------------*/
.promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.promo p {
    margin: 0vw;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    background-color: var(--paragraph-color-on-color);

}

.text {
    display: none;
}

.close {
    color: var(--paragraph-color-on-color);
    background-color: red;
}

/* Anitation provide by CodePen */
.banner,
.close {
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

/* THANK YOU PAGE*/

.thank-you-message {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}

.thank-you-message h1 {
    padding: 50px 10px;
    text-align: start;
    color: var(--paragraph-color-on-color);
    background: var(--bgr-navBar-footer);
}

.close-auto {
    text-align: center;
    font-size: smaller;
}

.cname {
    padding: 20px 10px 20px 0;
    text-align: right;
    font-size: 1.2rem;
    color: var(--bgr-navBar-footer);
    background: var(--navBar-hover-color);
}
