@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;900&display=swap');

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

:root{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    --heading-font: Helvetica, sans-serif, 'Source Sans Pro';
    --paragraph-font: 'Source Sans Pro', Helvetica, sans-serif;

    --headline-color-on-white: #08689B;
    --bgr-body-color: #F5F5F5;
    --bgr-header-color: #1D3559;
    --bgr-main-color: #1D3559;
    --bgr-navBar-footer: #08689B;
    --navBar-link-color: #F5F5F5;
    --navBar-hover-color: #79D509;

    --paragraph-background-color:#1D3559;
    --paragraph-color-on-white: #1D3559;
    --paragraph-color-on-color: #F5F5F5;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: var(--heading-font);
    font-size: 15px;
    background:var(--bgr-body-color);
    border: 1px solid var(--bgr-header-color);
}

header {
    padding: 20px 20px;
    margin: 0;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    background: var(--bgr-header-color);
}

.chamber-logo img{
    width: 100%;
}

.social-icon img{
    padding: 0 0 5px 5px;
    width: 50px;
}

.current-dateTime {
    text-align: justify;
    font-size: 1rem;
    color: var(--paragraph-color-on-color);
}

.navbar {
    display: flex;
    margin-bottom: 20px;
    background: var(--bgr-navBar-footer);
}

.navbar a { 
    display: block;
    justify-content: center;
    padding: .6rem 2vw;
    text-align: center;
    text-decoration: none;
}

.navbar {
    display: none;
}

.navbar.open {
    display: block;
    width: 100%;
}

.navbar.open a {
    display: block;
}

a { 
    color: var(--paragraph-color-on-color);
    text-decoration: none;
}

nav a.nav-link:hover {
    color: var(--bgr-main-color);
    background-color: var(--navBar-hover-color);
}

#menu {
    font-size: 1.5rem;
    position: relative;
    left: 0;
    color: var(--paragraph-color-on-color);
    border: none;
    background-color: transparent;
}

#menu::before {
    content: '☰';
}

#menu.open::before {
    content: '✖';
}

.box {
    margin: 0;
    padding: 5px;
    width: auto;
    height: 30px;
    background-color: var(--bgr-navBar-footer);
}

main { 
    margin: 5px;
    padding: 5px;
    font-family: var(--paragraph-font);
}

main div.container {
    display: block;
}

.hero-image,
.spotlight-1,
.spotlight-2,
.spotlight-3,
.events,
.weather {
    width: auto;
    height: 250px;
    margin-bottom: 20px;
    border: 1px solid var(--bgr-main-color);
    text-align: center;
    line-height: 250px;
    box-shadow: 0 4px 8px 0 var(--bgr-header-color), 0 6px 20px 0 var(--navBar-hover-color);
    
}

footer {
    display: flex;
    margin-top: 20px;
    padding: 5px;
    text-align: start;
    font-family: var(--paragraph-font);
    align-items: first baseline;
    justify-content: center;
    background-color: var(--bgr-navBar-footer);
}

footer p { 
    font-style: normal;
}

.break-line {
    display: flex;
    width: max-content;
}

.copyright, 
.location,
.date {
    color: var(--paragraph-color-on-color);
}

#lastModified {
    color: var(--paragraph-color-on-color);
}
