@media only screen and (min-width: 64rem) {

    p {
        margin-left: 1vw;
    }

    nav a {
        padding: .5rem 1rem;
    }

    main div.container {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: auto auto auto; 
        grid-template-areas: 
          "hero-image hero-image events"
          "hero-image hero-image weather"
          "spotlight-1 spotlight-2 spotlight-3"; 
    }

    .hero-image {
        grid-area: hero-image;
    }

    .events {
        grid-area: events;
    }

    .weather {
        grid-area: weather;
    }

    .spotlight-1 {
        grid-area: spotlight-1;
    }

    .spotlight-2 {
        grid-area: spotlight-2;
    }

    .spotlight-3 {
        grid-area: spotlight-3;
    }

    .hero-image {
        height: auto;
        line-height: 500px;
    }
}