@media only screen and (min-width: 64rem) {

    nav a {
        padding: .5rem 1rem;
    }

    main div.container {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, auto); 
        grid-template-areas:
          "title-msg title-msg title-msg" 
          "hero-image hero-image events"
          "hero-image hero-image weather"
          "spotlight-1 spotlight-2 spotlight-3"; 
    }

    .hero-image img {
        width: 100%;
        height: 100%;
    }

    .list {
        display: flex;
        flex-direction: column;
        margin: 10px
    }

    .list section {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr) 2fr;
        width: 100%;
    }
 }