@media only screen and (min-width: 35rem) {

    #content {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #menu {
        display: none;
    }

    #mode {
        padding-top: 0;
    }

    .box {
        display: none;
    }

    nav.navbar {
        display: flex;
        justify-content: center;
    }

    nav a {
        text-align: center;
        text-decoration: none;
    }

    a.nav-link {
        padding: 10px;
        align-self: center;
    }

    h1,
    h2 {
        margin: 0;
        padding: 0;
    }

    main div.container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
        padding: 10px;
        margin: 25px 100px;
        grid-template-areas:
            "title-msg  title-msg"
            "hero-image hero-image"
            "events     spotlight-1"
            "weather    spotlight-2"
            "spotlight-3 .";
    }

    .title-msg {
        grid-area: title-msg;
    }

    .hero-image {
        grid-area: hero-image;

    }

    .events {
        grid-area: events;
    }

    .weather {
        grid-area: weather;
    }

    .spotlight-1 {
        grid-area: spotlight-1;
    }

    .spotlight-2 {
        grid-area: spotlight-2;
    }

    .spotlight-3 {
        grid-area: spotlight-3;
    }

    .break-line {
        display: inline;
    }

    .hero-image,
    .spotlight-1,
    .spotlight-2,
    .spotlight-3,
    .events,
    .weather-info {
        margin: 0;
    }

    .title-msg {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }

    .welcome-msg {
        text-align: center;
        font-size: 2rem;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
    }

    footer h3 {
        padding-left: 0;
    }

    .footer-img {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .contact {
        margin-top: 10%;
        line-height: 200%;
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .visit-us {
        margin-top: 10%;
        line-height: 200%;
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .contact p,
    .visit-us p {
        margin: 0;
        padding: 0;
    }

    .mapouter {
        grid-column: 1/5;
        grid-row: 2/3;
    }

    hr {
        grid-column: span 4;
        grid-row: span 1;
        display: initial;
        margin-top: 50px;
        width: 90%;
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #08689B, #F5F5F5, #08689B);
        background-image: -moz-linear-gradient(left, #08689B, #F5F5F5, #08689B);
        background-image: -ms-linear-gradient(left, #08689B, #F5F5F5, #08689B);
        background-image: -o-linear-gradient(left, #08689B, #F5F5F5, #08689B);
    }

    .information {
        display: inline-flex;
        justify-content: space-around;
        grid-column: 1/5;
        grid-row: 4/5;
    }

    .information p {
        margin: 10px 0;
        padding: 0;
    }

    .hero-image img {
        width: 100%;
        height: auto;
    }

    /* DISCOVERY PAGE*/

    .discovery-main {
        display: grid;
        grid-template-columns: 400px auto;
        column-gap: 20px;
        grid-auto-rows: auto;
        grid-template-areas:
            "sideBar welcome"
            "sideBar gallery"
            "sideBar gallery"
            "sideBar gallery"
            ".       gallery"
            ".       gallery"
            ".       gallery";
    }

    .sideBar {
        grid-area: sideBar;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        grid-area: welcome;
    }

    .gallery {
        grid-area: gallery;

        margin: 0;
        padding: 20px;
        text-align: center;
    }

    aside {
        position: sticky;
        top: 0;
    }

    .sideBar-content1,
    .sideBar-content2,
    .sideBar-content3,
    .sideBar-content4 {
        margin: 10px;
        padding: 1rem 1vw;
        width: 400px;
        height: auto;
        border: 1px solid black;
    }

    .figure-gallery img:hover {
        padding: 5px;
        box-shadow: 0 0 50px #08689B;
    }
}

/*  JOIN PAGE    */

#join-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
    grid-template-areas:
        ". why-join-us why-join-us ."
        "welcome-text welcome-text form-cont form-cont"
        "welcome-text welcome-text form-cont form-cont"
        "join-us join-us form-cont form-cont"
        "strategic-partner strategic-partner form-cont form-cont"
        "next-step community form-cont form-cont"
        "np-membership bronze-membership silver-membership gold-membership";
}

form img {
    margin-top: 50px;
}

#why-join-us {
    grid-area: why-join-us;
    text-align: center;
}

.welcome-text {
    grid-area: welcome-text;
    padding: 40px 10px 20px;
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: center;
}

.join-us {
    grid-area: join-us;
    padding: 40px 10px 20px;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: left;
}

.strategic-partner {
    grid-area: strategic-partner;
    padding: 40px 10px 20px;
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: center;
}

.next-step {
    grid-area: next-step;
    padding: 20px 10px 20px;
    line-height: 1.5;
    font-size: 1.1rem;
    text-align: center;
}

.community {
    grid-area: community;
    padding: 20px 10px 20px;
    line-height: 1.5;
    font-size: 1.1rem;
    text-align: center;
}

.membership-card,
.membership-card h3 {
    padding: 20px 10px 20px;
    line-height: 1;
    font-size: 1rem;
    text-align: center;
}

.membership-card ul {
    margin: 5px auto;
    padding-left: 20px;
    list-style: circle;
    text-align: left;
}
.np-membership {
    grid-area: np-membership;
    text-align: center;
}

.bronze-membership {
    grid-area: bronze-membership;
    text-align: center;
}

.silver-membership {
    grid-area: silver-membership;
    text-align: center;
}

.gold-membership {
    grid-area: gold-membership;
    text-align: center;
}

.form-cont {
    grid-area: form-cont;
}

.level-benefits {
    display: flex;
    flex-direction: column;
    align-items: start;
}

div.level-benefits {
    display: block;
}

.level-benefits h2 {
    text-align: center;
}

.level-benefits ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* directory page*/

.menu {
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    align-items: center;
}