@media only screen and (min-width: 35rem) {
    
    h1 {
        font-size: 1.5em;
    }
    
    nav button {
        display: none;
    }

    nav ul#primaryNav { 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2vw;


    }

    nav ul li a {
        border: none;
    }

    main div.container {
        /*min-width: 35rem;*/
        margin-top: 25px;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background-color: #99998b;

    }
    
    /* NEWS */
    .box1 {
        width:auto;
        height: 200px;
        line-height: 200px;
        border: 1px solid #555;
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }
    
    /* HERO IMG */
    .box2 {
        width:auto;
        height: 200px;
        line-height: 200px;
        border: 1px solid #555;
        grid-area: 1 / 1 / 2 / 3;
        text-align: center;
    }
    
    /* EVENTS */
    .box3 {
        width:auto;
        height: 200px;
        line-height: 200px;
        border: 1px solid #555;
        grid-area: 2 / 2 / 3 / 3;
        text-align: center;
    }
    
    /* WEATHER */
    .box4 {
        width:auto;
        height: 200px;
        line-height: 200px;
        border: 1px solid #555;
        grid-area: 3 / 1 / 4 / 2;
        text-align: center;
    }
    
    /* JOIN */
    .box5 {
        width:auto;
        height: 200px;
        line-height: 200px;
        border: 1px solid #555;
        grid-area: 3 / 2 / 4 / 3;
        text-align: center;
    }
    
    /* COMPANY SPOTLIGHTS */
    .box6 {
        width:auto;
        height: 200px;
        line-height: 200px;
        border: 1px solid #555;
        grid-area: 4 / 1 / 5 / 3;
        text-align: center;
    }

    /* footer*/

    .br {
        display: inline;    
    }


}