@media only screen and (min-width: 35rem) {

    h1 {
        font-size: 1.5em;
    }

    p {
        margin-left: .5vw;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2vw;
    }

    nav ul li a {
        border: none;
    }

    .banner {
        font-size: 1.5em;
    }

    main div.container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 5px;
        padding: 5px;
        grid-template-areas:
            "box2 box2"
            "box1 box3"
            "box4 box5"
            "box6 box6";
    }

    .box1 {
        grid-area: box1;
    }

    .box2 {
        grid-area: box2;
    }

    .box3 {
        grid-area: box3;
    }

    .box4 {
        grid-area: box4;
    }

    .box5 {
        grid-area: box5;
    }

    .box6 {
        grid-area: box6;
    }


    /* footer*/

    .br {
        display: inline;
    }


}