@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;900&display=swap');

body {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 14px;
    color: #DFD5A5;
    background: #32383a;
}

header {
    padding: 10px;
    background: #305252;
}

img {
    max-width: 50%;
    border: 2px solid #DFD5A5;
}

a {
    color: whitesmoke;
}

footer {
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    background: #305252;
}

footer p {
    font-style: normal;
}

.copyright {
    color: #DFD5A5;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: start;
    align-items: center;
    grid-template-areas:
        "img name";
}

.img {
    grid-area: img;
}

.name {
    grid-area: name;
}

#current-date {
    color: whitesmoke;
}